.main{

    text-align: center;
    margin-top: 50px;

}
#dob{
    width:40%;
}
button{
    margin:10px;
    background-color:rgb(46, 163, 209);
}
div{
    text-align: center;
}








    